.progress-bar {
  height: 100%;
  background-color: #800;
  border-radius: 8.8px;
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 36vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: normal;
  overflow: visible;
  font-weight: 600;
  font-family: Tw Cen MT Condensed;
  color: #fff;
  border-radius: 8.8px;
  border: 1px solid #ddd;
}

.top-div {
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  width: 100%;
  padding: 16px 0px;
}

.bottom-div {
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
}

.bottom-right-div {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px 16px;
  border-radius: 8.8px;
  background-color: #0003;
}

.hidden-div {
  visibility: collapse;
}

input[type=checkbox] {
  width:  42px;
  height: 42px;
  margin: 8px;
}

input[type=radio] {
  width:  42px;
  height: 42px;
}

button {
  margin: 10px;
  min-width: 52px;
  height: 42px;
}
label {
  font-size: 2vw;
}
