@page "/counter"
@using System.Timers
@using System.Diagnostics

<PageTitle>Counter</PageTitle>

<h1>Counter WASM</h1>
<h2>Current Time: @currentTime</h2>
<h3>Time left: @ct2</h3>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
  private string currentTime = "HH:mm:ss", ct2 = "ct2";
  private int currentCount = 0;
  //-86 private readonly Timer timer = new Timer(333);

  protected override async void OnInitialized()
  {
    base.OnInitialized();
    MainLoopVoid();
    await MainLoopTask();
    //-86 timer.Elapsed += (sender, e) => UpdateTime();
    //-86 timer.Start();
  }

  async void MainLoopVoid()
  {
    while (true) //todo: PeriodicTimer??
    {
      await Task.Delay(900);
      ct2 = DateTimeOffset.Now.ToString("HH:mm:ss");
      StateHasChanged(); // await InvokeAsync(StateHasChanged);
    }
  }
  async Task MainLoopTask()
  {
    while (true)
    {
      await Task.Delay(800);
      currentTime = DateTimeOffset.Now.ToString("HH:mm:ss");
      await InvokeAsync(StateHasChanged);
    }
  }

  private void UpdateTime()
  {
    currentTime = DateTimeOffset.Now.ToString("HH:mm:ss");
    InvokeAsync(StateHasChanged);
  }

  private void IncrementCount()
  {
    currentCount++;
  }

  public bool IsDisposed { get; private set; }

  public void Dispose()
  {
    if (IsDisposed)
      return;

    //-86 timer.Dispose();
    IsDisposed = true;
  }
}