.flexVertical {
  display: flex;
  flex-direction: column;
  color: #ff5;
}

.flexHorizontal {
  display: flex;
  color: #ff5;
}

.flexRight {
  justify-content: flex-end;
}

.backgroundPanel {
  border: 2px solid #aa5;
  border-radius: 52.8px;
  height: calc(99vh - 36px);
  height: calc(99dvh - 36px);
  background-color: #fff;
}

.progress {
  border-radius: 52.8px 0px 0px 52.8px;
  background-image: linear-gradient(180deg, #d08 1%, #503 99%);
  border-right: 0px;
}

.regress {
  border-radius: 0px 52.8px 52.8px 0px;
  background-image: linear-gradient(180deg, #082 1%, #021 99%);
  border-left: 0px;
}

.absolutePanel {
  position: absolute;
  width: 96.3%;
  margin-top: 36px;
  margin-left: 0px;
  margin-right: 0px;
}

.centerHoriz {
  display: flex;
  justify-content: center; /* align horizontal */
}

.centerVerti {
  display: flex;
  align-items: center; /* align vertical */
  height: calc(99vh - 36px);
  height: calc(99dvh - 36px);
}

.mmss {
  font-size: 38vw;
  font-weight: 600;
  font-family: Tw Cen MT Condensed;
  word-wrap: break-word;
}
/* >> *** Centering over background divs *** */

button {
  margin: 4px;
  min-width: 80px;
  height: 42px;
  background-color: #0005;
  color: #ccc;
  border-radius: 10px;
}

label {
  font-size: 20px;
  color: #ff5;
}

.vertCenter {
  display: flex;
  align-items: center; /* align vertical */
}

.left160 {
  width: 160px;
}

.right3 {
  width: calc(100% - 260px);
  margin-top: 12px;
  justify-content: flex-end;
}

.otherColor {
  margin-top: 5px;
  color: #ccc;
}

.zIndexTop {
  z-index: 1;
}

.nogo1 {
  margin: 20px;
  background-color: #0f05;
}

checkbox {
  margin: 14px;
  min-width: 80px;
  height: 42px;
  background-color: #0f05;
  color: #ccc;
  border-radius: 10px;
}
input {
  margin: 14px;
  min-width: 80px;
  height: 42px;
  background-color: #0f05;
  color: #ccc;
  border-radius: 10px;
}
differentClass {
  margin: 14px;
  min-width: 80px;
  height: 42px;
  background-color: #0f05;
  color: #ccc;
  border-radius: 10px;
}
