.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: normal;
  overflow: visible;
  font-size: 36vw;
  font-weight: 600;
  font-family: Tw Cen MT Condensed;
  border-radius: 8.8px;
  border: 1px solid #ddd;
}

button {
  margin: 10px;
  min-width: 52px;
  height: 42px;
  background-color: #0005;
  color: #ccc;
}

label {
  font-size: 16px;
  color: #ff5;
}

/** << ****************************************************************/
.mainRoot {
  display: flex;
  flex-direction: column;
  color: #ff5;
  margin: -20px;
  /*background-color: #0005;*/
}

.row {
  display: flex;
  flex-direction: row;
}

.top, .bottom {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  /*background-color: #0002;*/
}

.center {
  flex-grow: .75;
}

.left3 {
  /*
  width: 260px;
    background-color: #0005;*/
  margin-top: 12px;
}

.right3 {
  width: calc(100% - 260px);
  justify-content: flex-end;
  display: flex;
  margin-top: 12px;
}

.center > div, .bottom > div {
  margin-left: -4px;
}

.center > div {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #0005;*/
}

  .center > div h1 {
    font-size: 35vw;
    font-weight: 600;
    font-family: Tw Cen MT Condensed;
    text-align: center;
    word-wrap: break-word;
    margin-top: -8px;
  }

.Initiate {
  height: 100%;
  font-size: 80px;
  font-weight: 600;
  margin-left: 16px;
}

.bottom > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  height: calc(40vh - 18px);
  height: calc(40dvh - 18px);
  border: 2px solid #aa5;
}

.progress {
  border-radius: 52.8px 0px 0px 52.8px;
  background-image: linear-gradient(180deg, #d08 1%, #503 99%);
  border-right: 0px;
}

.regress {
  border-radius: 0px 52.8px 52.8px 0px;
  background-image: linear-gradient(180deg, #082 1%, #021 99%);
  border-left: 0px;
}

.hCenterParent {
  position: relative;
}

.px26x26 {
  width: 26px;
  height: 26px;
}

.otherColor {
  color: #ccc;
}
/** >> ****************************************************************/
/* << *** Centering over background divs *** */
.flex-container {
  display: flex;
  margin-top: 12px;
}

.foreground {
  position: absolute;
  display: flex;
  height: calc(40vh - 18px);
  height: calc(40dvh - 18px);
  /*  height: calc(100vh - 18px);
  height: calc(100dvh - 18px);
*/ width: 96vw;
  margin-top: 10px;
}

.vc {
  align-self: center;
  flex: 1;
  flex-shrink: 0; /* prevent wrapping of all items vertically on TTT.com */
}

.hc {
  display: flex;
  justify-content: center;
  flex: 1;
}

.h1 {
  font-size: 42vw;
  font-weight: 600;
  font-family: Tw Cen MT Condensed;
  word-wrap: break-word;
}
/* >> *** Centering over background divs *** */
