@page "/"
@using static System.Console;
@using System.Timers;
@using System.Diagnostics;
@using Microsoft.AspNetCore.Components;
@using System;
@using System.Media;
@using System.Threading.Tasks;
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

 Welcome to your new app.

@code {}