.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 20%;
  font-size: 36vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: normal;
  overflow: visible;
  font-weight: 600;
  font-family: Tw Cen MT Condensed;
  color: #fff;
  border-radius: 8.8px;
  border: 1px solid #ddd;
}

button {
  margin: 10px;
  min-width: 52px;
  height: 42px;
  background-color: #0005;
  color: #ccc;
}

label {
  font-size: 16px;
}

/** << ****************************************************************/
.mainRoot {
  /*  
    position: absolute;
  left: 0;
  width: 100vw;
*/
  height: 80vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #0005;
}

.row {
  display: flex;
  flex-direction: row;
}

.top, .bottom {
  min-height: max-content;
  background-color: #0003;
}

.center {
  flex-grow: 1;
}

.left {
  width: 240px;
}

.middle {
  width: calc(100% - 340px);
  background-color: #fff1;
}

.right {
  width: 100px;
}

.center > div, .bottom > div {
  width: 100%;
}

.center > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0008;
}

  .center > div h1 {
    font-size: 20vw;
    font-weight: 600;
    text-align: center;
    word-wrap: break-word;
  }

.bottom > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar-progress {
  height: 100%;
  background-color: #800;
  border-radius: 8.8px 0px 0px 8.8px;
}

.progress-bar-regress {
  height: 100%;
  background-color: #080;
  border-radius: 0px 8.8px 8.8px 0px;
}

.hCenterParent {
  position: relative;
}
.hCenterChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 96%;
  height: 96%;
  margin: 2%;
  background-color: #00f2;
}
.px26x26 {
  width: 26px;
  height: 26px;
}
/** >> ****************************************************************/
