.mainRoot {
/*  position: absolute;
  width: 100vw;
  left: 0;
*/
height: 40vh;
  display: flex;
  flex-direction: column;
  color: #ccc;
  padding: 2% 3%;
  background-color: #ddd;
}

.row {
  display: flex;
  flex-direction: row;
}

.top, .bottom {
  min-height: max-content;
}

.center {
  flex-grow: 1;
}

.left {
  width: 300px;
  background-color: red;
}

.middle {
  width: calc(100% - (400px));
  background-color: green;
}

.right {
  width: 100px;
  background-color: blue;
}

.center > div, .bottom > div {
  width: 100%;
}

.center > div {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .center > div h1 {
    font-size: 20vw;
    text-align: center;
    word-wrap: break-word;
  }

.bottom > div {
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
}
