@page "/"

<PageTitle>Home</PageTitle>

<div class="mainRoot">
  <div class="row top">
    <div class="left">
      Red
      <input type="radio" id="radio1" name="radioGroup" value="Option1">
      <label for="radio1">Option 1</label>
      <input type="radio" id="radio2" name="radioGroup" value="Option2">
      <label for="radio2">Option 2</label>
      <input type="radio" id="radio3" name="radioGroup" value="Option3">
      <label for="radio3">Option 3</label>
    </div>
    <div class="middle">
      Green
    </div>
    <div class="right">
      Blue
    </div>
  </div>
  <div class="row center">
    <div><h1>Yellow</h1></div>
  </div>
  <div class="row bottom">
    <div>
      Purple
    </div>
  </div>
</div>